// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

.cont {
  width: 400px;
  color: #314d3e;
}

.btn_detect {
  top: 8%;
  right: 2.5%;
  position: absolute;
  width: 70px;
  font-weight: 700;
  border: 0px;
  border-radius: 30px;
  padding: 4px;
  cursor: pointer;
}



